<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GodxuFonts</title>
    <link rel="icon" href="../static/img/F.png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/6.3.0/css/all.min.css" />
    <script src="../static/apee-router.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-success navbar-dark fixed-top p-2">
        <a class="navbar-brand font-top-title" href="#/home">GodxuFonts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <div class="p-1"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-top" href="#/home">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-top" href="#/zh">中文字体</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-top" href="#/en">英文字体</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-top" href="#/pic">图形字体</a>
                </li>
                <li class="nav-item">
                    <div class="p-2"></div>
                </li>
                <li class="nav-item">
                    <div class="d-flex">
                        <input type="text" class="form-control mr-2" placeholder="搜索字体">
                        <div class="p-1"></div>
                        <button class="btn bg-light text-nowrap ml-2">搜索</button>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="p-2"></div>
                </li>
                <li class="nav-item uer-border">
                    <div class="user-center dropdown">
                        <span class="user-font d-flex align-items-center justify-content-center dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false"></span>
                        <ul class="dropdown-menu custom-dropdown-menu">
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div data-route="login">
        <div class="borderbox">
            <div class="ltop top">
                <a href="#/home">Godxu字体库 登录</a>
            </div>
            <div class="hr"></div>
            <div class="box">
                <div class="inputBox">
                    <input type="text" id="usernameInput" class="nameBox" placeholder="用户名">
                </div>
                <div class="inputBox">
                    <input type="password" id="passwordInput" class="passwordBox" placeholder="密码">
                    <span class="logoButton"></span>
                </div>
                <div class="btnbox">
                    <button type="submit" class="sbtn" id="loginbtn">确认登录</button>
                    <button type="button" class="sbtn" onclick="location='#/register'">前往注册</button>
                </div>
            </div>
            <div class="hr"></div>
            <div class="godxu">
                <div class="msg">
                    用代码表达言语的魅力，用代码书写山河的壮丽。
                </div>
                <div class="from">
                    ——「 一言开发者中心 」
                </div>
            </div>
        </div>
        <div class="sbottom">
            <div class="about">
                <div class="code">
                    <img referrerPolicy="no-referrer"
                        src="https://p.ananas.chaoxing.com/star3/origin/64788dea4b89070135e7a13dda096b4f.png" alt="">
                </div>
                <img referrerPolicy="no-referrer"
                    src="https://p.ananas.chaoxing.com/star3/origin/835444af1e238fbd95acd92723451c95.png" alt=""
                    width="40px" class="icon vcode">
            </div>
            <div class="about">
                <div class="code">
                    <img referrerPolicy="no-referrer"
                        src="https://p.ananas.chaoxing.com/star3/origin/6e967dd18a4198bd62f20f79c373ce6a.png" alt="">
                </div>
                <img referrerPolicy="no-referrer"
                    src="https://p.ananas.chaoxing.com/star3/origin/217a4ae91d62e76707716d614eb38c31.png" alt=""
                    width="40px" class="icon">
            </div>
            <div>友情链接：
                <a href="https://hitokoto.cn/" class="yqlj" target="_blank">Hitokoto-一言</a>
            </div>
        </div>
    </div>
    <div data-route="register">
        <div>
            <div class="rtop top">
                <a href="#/home">Godxu字体库 注册</a>
            </div>
            <div class="hr"></div>
            <div class="box">
                <div class="inputBox">
                    <input type="text" class="nameBox" id="rusernameInput" placeholder="用户名" autocomplete="off"
                        onkeyup="userName(this.value)">
                </div>
                <div class="inputBox">
                    <input type="password" class="passwordBox" id="rpasswordInput" placeholder="密码"
                        onkeyup="checkPassword(this.value)">
                    <span class="logoButton"></span>
                </div>
                <div class="checkBox">
                    <input type="password" class="passwordBox" placeholder="确认密码" onkeyup="recheckPassword(this.value)">
                    <span class="logoButton"></span>
                </div>
                <div class="validation">
                    <ul>
                        <li id="nameLength">用户名不能过短或过长</li>
                        <li id="length">密码长度至少为6</li>
                        <li id="recheck">两次输入密码一致</li>
                    </ul>
                </div>
                <div class="btnbox">
                    <button type="submit" class="default" id="registerbtn" disabled="true">确认注册</button>
                    <button type="button" class="sbtn" onclick="location='#/login'">返回登录</button>
                </div>
            </div>
        </div>
    </div>
    <div data-route="home" style="width: 100%;">
        <div class="container-fluid" style="max-width: 1200px;">
            <div class="font-home-hot pb-3 my-3 align-items-center">
                <p class="font-home-hot-title align-items-center">热门字体</p>
                <p class="font-home-hot-num">共计&nbsp;<span class="font-num">120</span>&nbsp;个字体</p>
            </div>
            <nav class="mb-1">
                <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                    <button class="nav-link text-dark active" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">所有字体</button>
                    <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false">商用免费</button>
                </div>
            </nav>
            <div class="row" id="font-box-home">
            </div>
            <div class="change-page-box pt-3 pb-4 d-flex align-items-center">
                <span><span class="current-page"></span> / <span class="all-page"></span></span>
                <div class="p-2"></div>
                <button class="btn btn-outline-secondary mr-2 prve-page">上一页</button>
                <div class="p-1"></div>
                <button class="btn btn-outline-secondary next-page">下一页</button>
            </div>
        </div>
    </div>
    <div data-route="zh">
        <div class="container-fluid" style="max-width: 1200px;">
            <div class="font-home-hot pb-3 my-3 align-items-center">
                <p class="font-home-hot-title align-items-center">中文字体</p>
                <p class="font-home-hot-num">共计&nbsp;<span class="font-num">99999</span>&nbsp;个字体</p>
            </div>
            <nav class="mb-1">
                <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                    <button class="nav-link text-dark active" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">所有字体</button>
                    <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false">商用免费</button>
                </div>
            </nav>
            <div class="row" id="font-box-zh">
            </div>
            <div class="change-page-box pt-3 pb-4 d-flex align-items-center">
                <span><span class="current-page"></span> / <span class="all-page"></span></span>
                <div class="p-2"></div>
                <button class="btn btn-outline-secondary mr-2 prve-page">上一页</button>
                <div class="p-1"></div>
                <button class="btn btn-outline-secondary next-page">下一页</button>
            </div>
        </div>
    </div>
    <div data-route="en">
        <div class="container-fluid" style="max-width: 1200px;">
            <div class="font-home-hot pb-3 my-3 align-items-center">
                <p class="font-home-hot-title align-items-center">英文字体</p>
                <p class="font-home-hot-num">共计&nbsp;<span class="font-num">99999</span>&nbsp;个字体</p>
            </div>
            <nav class="mb-1">
                <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                    <button class="nav-link text-dark active" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">所有字体</button>
                    <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false">商用免费</button>
                </div>
            </nav>
            <div class="row" id="font-box-en">
            </div>
            <div class="change-page-box pt-3 pb-4 d-flex align-items-center">
                <span><span class="current-page"></span> / <span class="all-page"></span></span>
                <div class="p-2"></div>
                <button class="btn btn-outline-secondary mr-2 prve-page">上一页</button>
                <div class="p-1"></div>
                <button class="btn btn-outline-secondary next-page">下一页</button>
            </div>
        </div>
    </div>
    <div data-route="pic">
        <div class="container-fluid" style="max-width: 1200px;">
            <div class="font-home-hot pb-3 my-3 align-items-center">
                <p class="font-home-hot-title align-items-center">图形字体</p>
                <p class="font-home-hot-num">共计&nbsp;<span class="font-num">99999</span>&nbsp;个字体</p>
            </div>
            <nav class="mb-1">
                <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                    <button class="nav-link text-dark active" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">所有字体</button>
                    <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false">商用免费</button>
                </div>
            </nav>
            <div class="row" id="font-box-pic">
            </div>
            <div class="change-page-box pt-3 pb-4 d-flex align-items-center">
                <span><span class="current-page"></span> / <span class="all-page"></span></span>
                <div class="p-2"></div>
                <button class="btn btn-outline-secondary mr-2 prve-page">上一页</button>
                <div class="p-1"></div>
                <button class="btn btn-outline-secondary next-page">下一页</button>
            </div>
        </div>
    </div>
    <div data-route="like">
        <div class="container-fluid" style="max-width: 1200px;">
            <div class="font-home-hot pb-3 my-3 align-items-center">
                <p class="font-home-hot-title align-items-center">我的收藏</p>
                <p class="font-home-hot-num">共计&nbsp;<span class="font-num">99999</span>&nbsp;个字体</p>
            </div>
            <div class="row" id="font-box-like">
            </div>
            <div class="change-page-box pt-3 pb-4 d-flex align-items-center" id="collect-page-box">
                <span><span class="current-page"></span> / <span class="all-page"></span></span>
                <div class="p-2"></div>
                <button class="btn btn-outline-secondary mr-2 prve-page">上一页</button>
                <div class="p-1"></div>
                <button class="btn btn-outline-secondary next-page">下一页</button>
            </div>
        </div>
    </div>

    <!-- downloadModal -->
    <button style="display: none" id="downloadbtn" data-bs-toggle="modal" data-bs-target="#downloadmodal"></button>
    <div class="modal fade" id="downloadmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">字体下载：</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="downloadfontinfo">
                        <img src="" class="img-fluid" alt="" id="downloadfontimg">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="downloadbtnbox">
                        <button type="button" class="btn btn-outline-secondary secondbtn" data-bs-dismiss="modal"
                            id="yesdownload">下载&nbsp;</button>
                        <button type="button" class="btn btn-outline-secondary secondbtn" data-bs-dismiss="modal"
                            id="closedownloadfilemodal">&nbsp;取消&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- logoutModal -->
    <div class="modal fade" id="logoutmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 logouttitle">退出登录</h1>
                </div>
                <div class="modal-body">
                    <div class="logouttip">确定退出当前账号</div>
                </div>
                <div class="modal-footer">
                    <div class="logoutbtnbox">
                        <div class="logoutbtnbox2">
                            <button type="button" class="btn btn-outline-secondary secondbtn" data-bs-dismiss="modal"
                                id="yeslogout">退出</button>
                            <button type="button" class="btn btn-outline-secondary secondbtn" data-bs-dismiss="modal"
                                id="closedownloadfilemodal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fontinfoModal -->
    <button style="display: none" id="fontinfobtn" data-bs-toggle="modal" data-bs-target="#fontinfomodal"></button>
    <div class="modal fade" id="fontinfomodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <img src="" class="img-fluid" alt="" id="fontinfoimg">
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-2">字体预览:</div>
                    <div class="input-group preview-input-group">
                        <input type="text" class="form-control" id="clickpreviewinput" placeholder="输入文字进行预览">
                        <span class="input-group-text" id="clickpreview">预览</span>
                    </div>
                    <div class="fontinfoimgpreviewbox p-1 d-flex align-items-center">
                        <img src="" class="img-fluid" alt="" id="fontinfoimgpreview">
                    </div>
                    <div class="my-2">字符映射图:</div>
                    <div>
                        <img src="" class="img-fluid" alt="" id="fontinfoimgcharmap">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="downloadbtnbox">
                        <button type="button" class="btn btn-outline-secondary secondbtn fontinfobtobtn"
                            id="fontyesdownload">
                            <span class="spinner-border spinner-border-sm d-none" role="status"
                                aria-hidden="true"></span>
                            下载
                        </button>
                        <button class="btn btn-outline-secondary fontinfobtobtn" id="fontinfocollect">收藏</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none" id="iframe_box"></div>
    <script src="../static/script.js"></script>
</body>

</html>